<% layout("/layouts/boilerplate") %>
    <!-- <style>
        form {
            width: fit-content;
            margin: auto;
            padding: 2rem;
            background-color: aqua;
        }

        input, textarea, button {
            display: block;
            width: 100%;
            margin: 1rem 0;
            padding: 1rem;
        }

        button {
            cursor: pointer;
        }
    </style> -->

    <body>

        <div class="row">

            <div class="col-8 offset-2  mt-3">
                
                <h3>Insert New Listing</h3>
                <form method="POST" enctype="multipart/form-data" action="http://localhost:3000/listings" class="needs-validation" novalidate>
                    <div class="input mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="listing[title]" id="title" class="form-control" required >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Title.
                          </div>
                    </div>

                    <div class="input mb-3">
                        <label for="description" class="form-label" >Description:</label>
                        <textarea name="listing[description]" id="description" cols="50" rows="2"
                            class="form-control" required></textarea>

                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Description.
                              </div>
                    </div>

                    <!-- <div class="input mb-3">
                        <label for="image" class="form-label">Image URL:</label>
                        <input type="text" name="listing[image]" id="image" class="form-control">
                        
                      
                    </div> -->


                    <div class="input mb-3">
                        <label for="image" class="form-label">Image Upload</label>
                        <input type="file" name="listing[image]" id="image" class="form-control">
                    </div>

                    <div class="row">
                        <div class="input mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" name="listing[price]" id="price" class="form-control" required>
                            
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Price.
                              </div>
                        </div>
                        <div class="input mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" name="listing[country]" id="country" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Country.
                              </div>
                        </div>

                    </div>
                    <div class="input mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" name="listing[location]" id="location" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Location.
                          </div>
                    </div>

                    

                    <button type="submit" class="btn btn-dark add-btn mb-4 mt-3">Add</button>
                   
                </form>
            </div>
        </div>
    </body>