<% layout("/layouts/boilerplate") %>

<body>

    <div class="row">

        <div class="col-6 offset-3 mt-3">

            
            <h3>SignUp  On WanderLust</h3>
            <form method="POST" action="http://localhost:3000/signup" class="needs-validation" novalidate>
                <div class="input mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" required >
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Username.
                      </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                </div>
                

                <!-- <button type="submit" class="btn btn-dark add-btn mb-4 mt-3">Register</button> -->
                <button type="submit" class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>
</body>